

.nav {
  margin-top: 18px;
  margin-left: -21px;
  
}

.fa {

  margin-left: 550px;
}


body {
  
  color: #ffffff;
  font-size: 2rem;
  background-color: #161019;
  padding: 2px 10px;
  margin-left: 16%;
}

/* bootstrap.min.css | https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css */

a:hover {
  /* color: #0056b3; */
  /* color: #d2dbe5; */
  color: #dee6ef;
}


input{
  margin: 5px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 5px;
  color: rebeccapurple;
}

button{

    color: blue;
    background: lightsalmon;
    border-radius: 5px;
}
